.leaflet-container {
    width: 100vh;
    height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#imagenNasa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.tituloRegistro {
  text-align:center;
}
.color-nav {
background-color:rgba(255, 225, 0, 0.562);


}
.formDiv{
  border: solid rgba(255, 225, 0, 0.562) 24px;
  width: 700px;
  height: auto;
  border-radius: 18px;
  margin: 30px;
  padding: 25px;
  text-align: center;
}

  .divRegistroyimagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 20px;
  }

  
.imgRegistroDiv{
  width:auto;
  height: auto;
  margin-top: 50px;

}
